<div id="title">
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <p> {{ site.description | default: site.github.project_tagline }}</p>
    <hr>
    <span class="credits left"> &nbsp; <a href="{{ site.organization.url }}" target="_blank">Org</a></span>
    <span class="credits left"> &nbsp; <a href="https://github.com/ULL-MFP-AET" target="_blank">Template-Org</a></span>
    <span class="credits left"> &nbsp; <a href="https://ull-mfp-aet.github.io/" target="_blank">GH-pages</a></span>
    <span class="credits left"> &nbsp; <a href="https://ull-mfp-aet.netlify.app/" target="_blank">Netlify-pages</a></span>
    <span class="credits left"> &nbsp; <a href="https://github.com/orgs/ULL-MFP-AET-2324/discussions/2" target="_blank">Faltas</a></span>

    <span class="credits left"> &nbsp; <a href="{{site.classroom.url}}" target="_blank">Classroom</a></span>
    <span class="credits left"> &nbsp; <a href="{{site.campus_virtual}}" target="_blank">Campus-Virtual</a></span>
    <span class="credits left"> &nbsp; <a href="{{site.baseurl}}/teams.html" target="_blank" teams">Activity</a></span>
    <span class="credits left"> &nbsp; <a href="{{site.chat}}" target="_blank">Chat</a></span>
    <span class="credits left"> &nbsp; <a href="{{site.profesor}}" target="_blank">Casiano</a></span>
    <span class="credits left"> &nbsp; <a href="https://meet.google.com/hkt-tquw-iqo" target="_blank">meet</a></span>
</div>
