{% assign numTeams = site.data.teams.data.organization.teams.totalCount %}
{% assign teams = site.data.teams.data.organization.teams.edges %}
{% assign fakes = include.fake | split: "," %}

<div id="all-students">
  {% for team in teams -%}
    {%- assign numMembers = team.node.members.totalCount -%}
    {%- if numMembers == 1 -%} <!-- a student team -->
      {%- assign name = team.node.name | replace: "é", "e" | replace: " ", "" | replace: "á", "a" -%}
      {%- assign names = name | split: "-" -%}
      {%- assign aluId = names | last  | strip -%}
      {%- assign studentNameList = names[0] | split: "_" -%}
      {%- assign studentName = studentNameList[0] | capitalize %}
      {%- if studentNameList.size > 1 -%}
        {%- assign secondName = studentNameList[1] | capitalize -%}
        {%- assign studentName = studentName | append: " " | append: secondName %}
      {%- endif -%}
      {%- assign url = team.node.url -%}
      {%- assign avatarUrl = team.node.members.edges[0].node.avatarUrl -%}
      {% assign memberAccessUrl = team.node.members.edges[0].memberAccessUrl %}
      {%- assign student = team.node.members.edges[0].node -%}

      <div id="{{student.login}}"> <!-- hidden by default       <div id="{{student.login}}" hidden>      -->
        <script>
        ( () => {
          var login = localStorage.getItem("login"); 
          //console.log(login);
        
          if (login == "{{ student.login }}" || login == "{{ site.profesor_github }}" || login == "{{ site.carlosCalzadilla }}") {
            document.getElementById("{{student.login}}").hidden = false;
          }})()
        </script>
        <h2>
          {%- if fakes contains aluId -%} <span>Fake </span>{%- endif -%}Student {{ studentName }} ({{ aluId}}, {{ forloop.index}} of {{ numTeams}})
        </h2>
        <ul>
          <li> Student team:
            <a href="{{url}}" target="_blank">{{ name }}</a>
          </li>
          <li><img src="{{ avatarUrl }}" width="30%"/></li>
          <li> {{ studentName }} repos:
          <a href="{{url}}/repositories" target="_blank">Repositories</a>
          </li>
          <li> <a href="{{ memberAccessUrl }}" target="_blank">{{ studentName }} ({{ student.login }})</a>  at the organization {{ site.organization.name }}</li>
          <li> <a href="{{ student.url }}" target="_blank">{{ studentName }} at GitHub</a> is {{ student.login }}
          </li>
          <li><a href="https://github.com/notifications?query=author%3A{{ student.login }}" target="_blank">Notifications</a> to the teacher from {{studentName}}</li>
          <li> {{ studentName }} activity:
            <ol>
              {%- for practica in site.data.practicas -%}
              {{ practica }}
              {% if practica.key and practica.visible -%}
                  <li> {{ studentName }}
                    <a href="https://github.com/{{ site.organization.name }}/{{ practica.key }}-{{name}}/" target="_blank"> Repo</a>,
                    {%- if practica.website -%}
                    <a href="https:{{ site.organization.name }}.github.io/{{ practica.key }}-{{name}}/" target="_blank"> Website</a>,
                    {% endif -%}
                    <a href="https://github.com/{{ site.organization.name }}/{{ practica.key }}-{{name}}/commits" target="_blank">Commits</a>,
                    <a href="https://github.com/{{ site.organization.name }}/{{ practica.key }}-{{name}}/graphs/commit-activity" target="_blank"> Commit Activity</a> and
                    <a href="https://github.com/{{ site.organization.name }}/{{ practica.key }}-{{name}}/pulse" target="_blank"> Summary</a> for
                    <a href="/{{ practica.path }}">{{ practica.key }}</a>
                  </li>
              {% endif -%}
              {%- endfor -%}
            </ol>
          </li>
        </ul>
      </div>
  
    {% endif %} <!-- else is a true multiple member team-->
  {% endfor -%}
</div>

